<a href="https://colab.research.google.com/github/falahamro/Moral-Foundations-Analysis/blob/main/Moral_Foundations_Sex_differences_in_moral_judgements_67_countries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Moral Foundations Application/Sex differences in moral judgements - 67 countries/Data_S1_sec.csv")

In [6]:
df2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Moral Foundations Application/Sex differences in moral judgements - 67 countries/Data_S2_sec.csv")

In [7]:
df3 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Moral Foundations Application/Sex differences in moral judgements - 67 countries/ALL_MFQ30.csv")

In [8]:
df1

,Country,PopSexRatio,Individualism,Masculinity,GenderEqality,HumanDevelopmentIndex,OverallLifeSatisfactionIndex,AUTHORITY.Cohen.d,FAIRNESS.Cohen.d,HARM.Cohen.d,INGROUP.Cohen.d,PURITY.Cohen.d,CTL_DS,CTL_DG,CTL_C
0,Afghanistan,1.03,NaN,NaN,0.667,0.479,3.1,-0.128844,0.239919,0.578152,-0.204972,0.138695,NaN,NaN,NaN
1,Albania,0.98,20.0,80.0,0.267,0.764,4.6,-0.064876,-0.099454,0.180461,-0.068737,0.005799,22.6,52.9,37.2
2,Argentina,0.98,46.0,56.0,0.362,0.827,6.7,-0.139463,0.277975,0.513888,-0.064473,-0.042686,74.5,88.4,75.0
3,Australia,1.01,90.0,61.0,0.120,0.939,7.3,-0.020345,0.321964,0.670987,-0.088030,0.152964,NaN,NaN,NaN
4,Austria,0.96,55.0,79.0,0.078,0.893,7.1,0.019993,0.013554,0.376107,0.017069,0.350518,88.8,68.3,75.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,United Arab Emirates,2.18,25.0,50.0,0.232,0.840,6.6,-0.278426,0.393268,0.344534,-0.211953,-0.021212,NaN,NaN,NaN
63,United Kingdom,0.99,89.0,66.0,0.131,0.909,6.5,-0.025227,0.257441,0.548239,-0.060534,0.169596,NaN,NaN,NaN
64,USA,0.97,91.0,62.0,0.203,0.920,7.2,0.019119,0.256148,0.645906,-0.078226,0.146929,67.9,71.5,58.0
65,Venezuela,0.99,12.0,73.0,0.461,0.767,6.1,0.198414,0.331209,0.565201,0.187851,0.350496,39.2,NaN,NaN
66,Vietnam,1.00,20.0,40.0,NaN,NaN,NaN,0.118545,-0.071183,0.143204,0.237670,0.345372,21.8,41.2,35.9

In [9]:
df2

,Country,HARM.Cohen.d,FAIRNESS.Cohen.d,INGROUP.Cohen.d,AUTHORITY.Cohen.d,PURITY.Cohen.d,PopSexRatio,Individualism,GenderEqality,HumanDevelopmentIndex,GiniCoefficient,OverallLifeSatisfactionIndex,CTL_DS,CTL_DG,CTL_C
0,Australia,0.428492,0.229754,-0.166414,0.004375,0.005692,1.01,90.0,0.120,0.939,34.9,7.3,NaN,NaN,NaN
1,Belgium,0.450297,0.197111,-0.198812,-0.202908,0.078682,0.97,75.0,0.073,0.896,27.6,6.9,70.1,126.7,119.8
2,China,0.260490,0.174548,0.004004,-0.008131,-0.039714,1.06,20.0,0.164,0.738,42.2,5.3,35.3,NaN,NaN
3,France,0.277311,0.071702,0.011008,0.394095,0.404534,0.96,71.0,0.102,0.897,33.1,6.4,66.8,101.3,99.6
4,Hungary,0.531953,0.359322,-0.125992,-0.210149,0.052376,0.91,80.0,0.252,0.836,30.6,5.3,37.3,61.1,42.8
5,Iran,0.254758,0.170536,0.030931,0.226182,0.104490,1.03,41.0,0.509,0.774,37.4,4.7,17.8,26.9,31.5
6,Japan,0.085172,-0.022846,-0.231444,-0.116409,-0.016560,0.94,46.0,0.116,0.903,32.1,5.9,56.8,39.2,43.3
7,Korea,0.214736,0.130202,-0.148776,-0.272349,-0.031197,1.00,18.0,0.067,0.901,NaN,5.8,48.0,28.8,20.1
8,Latvia,0.457871,0.526488,0.045332,0.219703,0.349492,0.85,70.0,0.191,0.830,35.5,5.9,47.4,54.0,42.7
9,Mongolia,0.137419,0.118591,0.100325,-0.043816,0.158999,0.96,NaN,0.278,0.735,32.0,5.0,NaN,NaN,NaN
10,Netherlands,0.452086,0.145524,-0.219044,-0.106134,0.305687,0.98,80.0,0.044,0.924,28.0,7.3,62.5,61.7,78.9
11,Poland,0.651036,0.299570,-0.001791,0.030798,0.277700,0.94,60.0,0.137,0.855,32.1,6.0,66.6,56.3,42.8
12,Russia,0.697519,0.426028,-0.061745,-0.153498,0.243245,0.86,39.0,0.271,0.804,41.6,6.0,45.8,70.4,57.2
13,Serbia,0.110607,0.209860,0.185091,0.136283,0.080824,0.95,25.0,0.171,0.792,30.5,6.0,43.4,73.8,61.8
14,Spain,0.002747,0.208858,0.152983,0.160062,0.266293,0.98,51.0,0.081,0.884,35.9,6.4,80.9,96.4,83.9
15,Sweden,0.525414,0.202839,-0.003731,-0.075371,-0.017024,1.00,71.0,0.048,0.913,27.3,7.3,63.5,47.3,87.9
16,Turkey,0.320248,0.256815,-0.103071,-0.139051,-0.088352,1.01,37.0,0.328,0.767,40.2,5.5,11.7,31.7,31.6
17,UK,0.470864,0.113614,0.048398,-0.018063,0.325021,0.99,89.0,0.131,0.909,32.6,6.5,64.3,87.4,89.3
18,US,0.396985,0.128082,-0.087022,-0.047033,0.166985,0.97,91.0,0.203,0.920,41.1,7.2,67.9,71.5,58.0

In [10]:
df3

,HARM_AVG,FAIRNESS_AVG,INGROUP_AVG,AUTHORITY_AVG,PURITY_AVG,Sex,Country
0,0.000000,0.000000,0.000000,0.000000,0.000000,1,Australia
1,4.000000,4.166667,3.000000,3.833333,2.833333,0,Australia
2,3.166667,4.500000,1.333333,1.166667,1.000000,1,Australia
3,3.000000,3.500000,3.333333,3.000000,1.500000,0,Australia
4,4.666667,3.666667,3.333333,3.333333,1.833333,0,Australia
...,...,...,...,...,...,...,...
11964,5.000000,4.000000,4.333333,3.500000,3.000000,0,US
11965,4.333333,4.833333,2.166667,2.500000,1.000000,1,US
11966,3.333333,2.833333,1.000000,1.666667,0.833333,0,US
11967,3.500000,3.500000,3.500000,3.833333,4.666667,0,US
11968,3.500000,4.000000,1.500000,2.333333,0.333333,1,US

In [11]:
df3.Country.unique()

array(['Australia', 'Japan', 'Belgium', 'Netherlands', 'China', 'France',
       'Hungary', 'Iran', 'Korea', 'Latvia', 'Mongolia', 'Poland',
       'Russia', 'Serbia', 'Spain', 'Sweden', 'Turkey', 'UK', 'US'],
      dtype=object)